.chart-card {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    height: 650px;
}

.chart-card-550 {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 20px;
    height: 550px;
}