<div class="row card-panel chart-card">
    <div class="row">

        <div input-field class="col s12 m2">
            <div class="row">
                <h6>Start Training Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.st" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>
        <div input-field class="col s12 m2">
            <div class="row">
                <h6>End Training Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.et" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>

        <div input-field class="col s12 m2">
            <div class="row">
                <h6>Order</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.order" material-select watch
                        ng-options="order as order for order in ctrl.orders">
                </select>
            </div>
        </div>
        <div input-field class="col s12 m2">
            <div class="row">
                <h6>Start Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.start" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>
        <div input-field class="col s12 m2">
            <div class="row">
                <h6>End Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.end" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>
        <div class="col s12 m2 right-align" style="padding-top: 30px;">
            <a class="btn btn-large" href ng-click="fetchData()">GO</a>
        </div>
    </div>
    <div class="row">
        <nvd3 options="options" data="data"></nvd3>
    </div>
</div>

<div class="row card-panel chart-card-550">
    <div class="row">
        <nvd3 options="options2" data="data2"></nvd3>
    </div>
    <div class="center row">
        <h5>Mean Squared Error</h5>
    </div>
</div>