<div class="row card-panel chart-card">
    <div class="row">


        <div class="col s12 m4" style="margin-top: 2rem;">
            <div class="row">
                <h6>Training Set</h6>
            </div>
            <div class="row range-field">
                <div id="training"></div>
            </div>
            <div class="row">
                <div class="col s6">
                    Start: {{ trainingRange[0] }}
                </div>
                <div class="col s6">
                    End: {{ trainingRange[1] }}
                </div>
            </div>
        </div>

        <div class="col s12 m4" style="margin-top: 2rem;">
            <div class="row">
                <h6>Data Set</h6>
            </div>
            <div class="row range-field">
                <div id="data_range"></div>
            </div>
            <div class="row">
                <div class="col s6">
                    Start: {{ dataRange[0] }}
                </div>
                <div class="col s6">
                    End: {{ dataRange[1] }}
                </div>
            </div>
        </div>


        <div input-field class="col s12 m2">
            <div class="row">
                <h6>Order</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.order" material-select watch
                        ng-options="order as order for order in ctrl.orders">
                </select>
            </div>
        </div>
        <!--<div input-field class="col s12 m2">-->
            <!--<div class="row">-->
                <!--<h6>Start Year</h6>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<select class="" ng-model="ctrl.start" material-select watch-->
                        <!--ng-options="year as year for year in ctrl.years">-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div input-field class="col s12 m2">-->
            <!--<div class="row">-->
                <!--<h6>End Year</h6>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<select class="" ng-model="ctrl.end" material-select watch-->
                        <!--ng-options="year as year for year in ctrl.years">-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col s12 m2 right-align" style="padding-top: 30px;">
            <a class="btn btn-large" href ng-click="fetchData()">GO</a>
        </div>
    </div>
    <div class="row">
        <nvd3 options="options" data="data"></nvd3>
    </div>
</div>

<div class="row card-panel chart-card-550">
    <div class="row">
        <nvd3 options="options2" data="data2"></nvd3>
    </div>
    <div class="center row">
        <h5>Mean Squared Error</h5>
    </div>
</div>