<div class="row card-panel">
    <div class="row">

        <div input-field class="col s12 m2 offset-m1">
            <div class="row">
                <h6>Start Training Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.st" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>
        <div input-field class="col s12 m2">
            <div class="row">
                <h6>End Training Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.et" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>

        <div input-field class="col s12 m2">
            <div class="row">
                <h6>Start Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.start" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>
        <div input-field class="col s12 m2">
            <div class="row">
                <h6>End Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.end" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>
        <div class="col s12 m2 right-align" style="padding-top: 30px;">
            <a class="btn btn-large" href ng-click="fetchData()">GO</a>
        </div>
    </div>
</div>

<div class="row card-panel">
    <table class="striped centered">
        <thead>
        <tr>
            <th>Year</th>
            <th ng-repeat="p in ctrl.orders">Order {{ p }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="point in data">
            <td>{{point.year}}</td>
            <td ng-repeat="p in point.data"> {{ p.v | number: 4}} %</td>
        </tr>
        </tbody>
    </table>
</div>