<div class="row card-panel">
    <div class="row">

        <div input-field class="col s12 m2">
            <div class="row">
                <h6>Start Training Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.st" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>
        <div input-field class="col s12 m2">
            <div class="row">
                <h6>End Training Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.et" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>

        <div input-field class="col s12 m2">
            <div class="row">
                <h6>Order</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.order" material-select watch
                        ng-options="order as order for order in ctrl.orders">
                </select>
            </div>
        </div>
        <div input-field class="col s12 m2">
            <div class="row">
                <h6>Start Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.start" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>
        <div input-field class="col s12 m2">
            <div class="row">
                <h6>End Year</h6>
            </div>
            <div class="row">
                <select class="" ng-model="ctrl.end" material-select watch
                        ng-options="year as year for year in ctrl.years">
                </select>
            </div>
        </div>
        <div class="col s12 m2 right-align" style="padding-top: 30px;">
            <a class="btn btn-large" href ng-click="fetchData()">GO</a>
        </div>
    </div>
</div>

<div class="row card-panel">

    <table>
        <thead>
        <tr>
            <th ng-repeat="p in data">{{ p.order }}</th>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
        </tr>
        <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
        </tr>
        <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
        </tr>
        </tbody>
    </table>

</div>